@model List<Nop.Plugin.Appointment.Scheduler.Models.AppointmentModel>
@using Nop.Web.Framework.UI;

@{
    Layout = "_AdminLayout";

    ////page title
    //ViewBag.PageTitle = T("Admin.Catalog.Products.EditProductDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Appointment Scheduler");
}

<table>
    <thead>
        <tr>
            <th>Data</th>
            <th>Obs</th>
            <th>Cliente</th>
            <th>Especialista</th>
            <th>Alteração</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.Observation</td>
                <td>@item.CustomerUsername</td>
                <td>@item.SpecialistUsername</td>
                <td>@item.UpdatedOnUtc<br />@item.UpdatedBy</td>
            </tr>
        }
    </tbody>
</table>
